- name: Create local cache directory for package files
  ansible.builtin.file:
    path: "{{ cache_dir }}"
    mode: "0755"
    state: directory

- name: Create root installation directory for Java distributions
  ansible.builtin.file:
    path: "{{ java_dir }}"
    mode: "0755"
    state: directory

- name: Download Java {{ item }} distribution archive to cache
  ansible.builtin.get_url:
    url: "https://api.adoptium.net/v3/binary/latest/{{ item }}/ga/{{ java_os }}/{{ java_arch }}/{{ java_type }}/hotspot/normal/eclipse"
    dest: "{{ cache_dir }}"
  register: java_dl

- name: Determine unpack directory of Java {{ item }} distribution archive
  ansible.builtin.set_fact:
    java_unpack_toplevel: "{{ java_dl.dest | ansible.builtin.regex_search('(?<=_)[0-9._]+(?=\\.)') | ansible.builtin.replace('_', '+') }}"

- name: Unpack Java {{ item }} distribution archive
  ansible.builtin.unarchive:
    src: "{{ java_dl.dest }}"
    dest: "{{ java_dir }}"
    remote_src: true
    creates: "{{ java_dir }}/{{ java_type }}-{{ java_unpack_toplevel }}"

- name: Create environment script directory
  ansible.builtin.file:
    path: "{{ env_script_dir }}"
    mode: "0755"
    state: directory

- name: Set up Java {{ item }} environment script
  ansible.builtin.template:
    src: env.Debian.j2
    dest: "{{ env_script_dir }}/java-{{ item }}"
    owner: root
    group: root
    mode: '0755'

- name: Configure Konsole with java {{ item }} environment script
  include_role:
    name: devtools.envscript
    tasks_from: env.Debian.yaml
  vars:
    env_script: "java-{{ item }}"
    env_icon: java
    env_icon_file: "{{ lookup('ansible.builtin.fileglob', 'java.svg') }}"
    env_name: "Java {{ item }}"

