- name: Create local cache directory for package files
  ansible.windows.win_file:
    path: "{{ cache_dir }}"
    state: directory

- name: Create root installation directory for Java distributions
  ansible.windows.win_file:
    path: "{{ java_dir }}"
    state: directory

- name: Determine Java {{ item }} distribution archive file name
  ansible.windows.win_uri:
    url: "https://api.adoptium.net/v3/binary/latest/{{ item }}/ga/{{ java_os }}/{{ java_arch }}/{{ java_type }}/hotspot/normal/eclipse"
    method: HEAD
    follow_redirects: none
    status_code: 307
  register: java_dl_filename

- name: Download Java {{ item }} distribution archive to cache
  ansible.windows.win_get_url:
    url: "{{ java_dl_filename.location }}"
    dest: "{{ cache_dir }}"
  register: java_dl

- name: Determine unpack directory of Java {{ item }} distribution archive
  ansible.builtin.set_fact:
    java_unpack_toplevel: "{{ java_dl.dest | ansible.builtin.regex_search('(?<=_)[0-9._]+(?=\\.)') | ansible.builtin.replace('_', '+') }}"

- name: Unpack Java {{ item }} distribution archive
  community.windows.win_unzip:
    src: "{{ java_dl.dest }}"
    dest: "{{ java_dir }}"
    remote_src: true
    creates: "{{ java_dir }}/{{ java_type }}-{{ java_unpack_toplevel }}"

