- name: Load platform configuration for {{ ansible_os_family }}
  include_vars: "{{ lookup('ansible.builtin.first_found', lookup_params) }}"
  vars:
    lookup_params:
      files:
      - "platform.{{ ansible_os_family }}-{{ ansible_architecture }}.yaml"
      - "platform.{{ ansible_os_family }}.yaml"
      paths:
      - "vars"

- name: Install Java for {{ ansible_os_family }}
  include_tasks: install.{{ ansible_os_family }}.yaml
  loop: "{{ java_versions }}"

