[Appearance]
Font=Hack,11,-1,7,50,0,0,0,0,0

[General]
Command=/bin/bash --init-file {{ env_script_dir }}/{{ env_script }}
Icon={{ env_linux_icon_dir }}/{{ env_icon }}.svg
Name={{ env_name }}
Parent=FALLBACK/
