version: 1

dn: cn=Postgres Users,ou=Groups,dc=h,dc=bbassett,dc=net
changetype: add
objectClass: top
objectClass: groupOfNames
cn: Postgres Users
description: Users allowed to authenticate to Postgres databases
dsEntryDN: cn=Postgres Users,ou=Groups,dc=h,dc=bbassett,dc=net
