- name: Create directory for Windows Terminal fragments
  ansible.windows.win_file:
    path: "{{ env_win_fragment_dir }}"
    state: directory

- name: Convert {{ env_name }} environment script icon to PNG
  block:
  - name: 'Convert {{ env_name }} environment script icon to PNG : Create temporary file'
    ansible.builtin.tempfile:
      suffix: .png
      state: file
    register: env_icon_temp

  - name: 'Convert {{ env_name }} environment script icon to PNG : Convert format'
    ansible.builtin.command:
      argv:
      - magick
      - -density
      - "300"
      - -background
      - none
      - "{{ env_icon_file }}"
      - -resize
      - "32"
      - "{{ env_icon_temp.path }}"
  delegate_to: localhost

- name: Copy {{ env_name }} environment script icon
  ansible.windows.win_copy:
    src: "{{ env_icon_temp.path }}"
    dest: "{{ env_win_fragment_dir }}/{{ env_icon }}.png"

- name: Copy {{ env_name }} environment Windows Terminal fragment
  ansible.windows.win_template:
    src: win_terminal.json.j2
    dest: "{{ env_win_fragment_dir }}/{{ env_name }}.json"

