- name: Create directory for icons
  ansible.builtin.file:
    path: "{{ env_mac_icon_dir }}"
    mode: '0755'
    state: directory

- name: Convert {{ env_name }} environment script icon to ICNS
  ansible.builtin.script:
    cmd: "svg_to_icns.sh {{ env_icon_file }}"
  register: env_icns_file
  delegate_to: localhost

- name: Copy {{ env_name }} environment script icon
  ansible.builtin.copy:
    src: "{{ env_icns_file.stdout }}"
    dest: "{{ env_mac_icon_dir }}/{{ env_icon }}.icns"
    owner: root
    group: wheel
    mode: '0644'

- name: Copy {{ env_name }} environment iTerm2 profile
  ansible.builtin.template:
    src: mac_iterm2.json.j2
    dest: "{{ env_mac_iterm2_profiles_dir }}/{{ env_name }}"
    owner: brian
    group: staff
    mode: '0644'
